<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class = "jumbotron">
			<div class = "container">
				<h1>Welcome to my One Month Python project.</h1>
				<p>I'm Dave Kimbell, I'm a freelance systems engineer and digital tech entrepreneur.
				I built this website as part of my short course in learning Python from <a href="http://OneMonth.com/courses/one-month-python">One Month Python</a>
				.</p>
				<a href="{{ url_for('index') }}">Back to home.</a>

			</div>
		</div>
	</body>
</html>